    <!-- Contributez Section -->
    <section id="contibuez" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Soutenir et manger la bonne bouffe locale autour de Lyon en temps de covid-19</h2>
              <br/>
                <p>Pour être solidaire avec celles et ceux qui nous nourrissent et permettre à qui veut d'accéder à des informations pour bien se nourrir même en temps de confinement : </br>BelleBouffe et Zéro Déchet Lyon vous proposent cette carte pour identifier les producteurs, maraichers, épiceries autour de Lyon et ses alentours. L'occasion de consommer local durant le confinement en respectant les mesures sanitaires.</p>
				<p>BelleBouffe et Zéro Déchet vous invitent à respecter ces dernières pour cette période !</p>
                <br/>
              </div>
        </div>
    </section>
