<section id="contact">
	<div class="banner">
		<div class="container">

			<div class="row">
				<div class="col-lg-6">
					<h2>Une initiative de :</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-8">
					<ul class="list-inline banner-social-buttons">
						<li>
							<a href="https://www.facebook.com/{{ site.facebook_zerodechetlyon }}" rel="nofollow norefferer" target="_blank" title="Zéro Déchet sur Facebook" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name"><img src="../img/logo-zerodechet.png" alt="Zéro Déchet sur Facebook"></img></span></a>
							<a href="https://www.facebook.com/{{ site.facebook_bellebouffe }}/" rel="nofollow norefferer" target="_blank" title="BelleBouffe sur Facebook" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name"><img src="../img/logo-bellebouffe.png" alt="BelleBouffe sur Facebook"></img></span></a>
						</li>
					</ul>
				</div>
			</div>


			<div class="row">
				<div class="col-lg-6">
					<h3>Partagez ce site :</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-8">
					<ul class="list-inline banner-social-buttons">
						<li>
							<a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow norefferer" target="_blank" title="Partagez sur Facebook" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Sur Facebook</span></a>
							<a href="https://twitter.com/intent/tweet?text={{ site.twitter_sharetext }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_bellebouffe }}&related={{ site.twitter_zerodechetlyon }}" rel="nofollow norefferer" target="_blank" title="Partagez sur Twitter" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Sur Twitter</span></a>
							<a href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}&title={{ site.title }}&summary={{ site.description }}" rel="nofollow norefferer" target="_blank" title="Partagez sur Linkedin" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Sur Linkedin</span></a>
						</li>
					</ul>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
</section>
<!-- /.banner -->