    <!-- Contributez Section -->
    <section id="contibuez" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Soutenir et manger la bonne bouffe locale autour de Lyon en temps de covid-19</h2>
              <br/>
                <p>Pour être solidaire avec celles et ceux qui nous nourrissent et permettre à qui veut d'accéder à des informations pour bien se nourrir même en temps de confinement, BelleBouffe et Zéro Déchet Lyon vous propose cette carte qui vous permettra d'identifier les prodcuteurs, maraichers, revendeurs, epiceries autour de Lyon et ses alentours, et ainsi pouvoir trouver des solutions pour consommer local durant le confinement tout en étant raisonnable sur les sorties.</p>
				<p>BelleBouffe et Zéro Déchet vous encourage fortement à respecter les mesures sanitaires pour cette période !</p>
                <br/>
              </div>
        </div>
    </section>
