<section id="contact">
	<div class="banner">
		<div class="container">

			<div class="row">
				<div class="col-lg-6">
					<h2>Une initiative de :</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-8">
					<ul class="list-inline banner-social-buttons">
						<li>
							<a href="https://www.facebook.com/{{ site.facebook_zerodechetlyon }}" rel="nofollow norefferer" target="_blank" title="Zéro Déchet sur Facebook" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name"><img src="../img/logo-zerodechet.png" alt="Zéro Déchet sur Facebook"></img></span></a>
							<a href="https://www.facebook.com/{{ site.facebook_bellebouffe }}/" rel="nofollow norefferer" target="_blank" title="BelleBouffe sur Facebook" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name"><img src="../img/logo-bellebouffe.png" alt="BelleBouffe sur Facebook"></img></span></a>
						</li>
					</ul>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-6">
					<h3>Ils parlent de la carte :</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-10">
					<ul class="list-inline banner-social-buttons">
						<li>
							<a href="https://www.leprogres.fr/edition-lyon-villeurbanne/2020/03/27/cette-carte-recense-a-lyon-les-epiceries-et-producteurs-locaux-pour-continuer-a-manger-de-la-bonne-bouffe-en-periode-de-confinement?fbclid=IwAR0O7d3yWEfMIv6KZfQqWnlQ8WVhlcD7A9PRwbcDLN8sNw2Anz0CF-n4dD4" rel="nofollow norefferer" target="_blank" title="Article du Progrès sur la carte" class="btn btn-default btn-lg"></i><span class="network-name"><img src="../img/logo-progres.png" alt="Logo du progrès.fr"></img></span></a>
						</li>
						<li>
							<a href="https://www.lyondemain.fr/lyon-actualite-coronavirus-covid19-confinement-bilan-ars-ehpad-girondines-youfactory-visieres-plexiglass-region-pharmacies-carrefour-venissieux-producteurs-cartes-bellebouffe-metropole-asociation-onl/?fbclid=IwAR2vo0dKocCRPwyoF0PcbdowsCe5HhAVJqFMcnFZSRAa4KH2SfrCZiFUpgc" rel="nofollow norefferer" target="_blank" title="Article de Lyon Demain sur la carte" class="btn btn-default btn-lg"><span class="network-name"><img src="../img/logo-lyondemain.png" alt="Logo de Lyon Demain"></img></span></a>
						</li>
						<li>
							<a href="https://france3-regions.francetvinfo.fr/auvergne-rhone-alpes/coronavirus-covid-19-trouver-produits-frais-locaux-auvergne-rhone-alpes-1809254.html?fbclid=IwAR03-kNHz1Ectxnbnlv10BrdM-cBc4P2tdGXNRFxCF4V5ZZmG4alhEu9_eo" rel="nofollow norefferer" target="_blank" title="Article de France 3 Rhône Alpes Auvergne sur la carte" class="btn btn-default btn-lg"><span class="network-name"><img src="../img/logo_fr3.png" alt="Logo de France 3 Rhône Alpes Auvergne"></img></span></a>
						</li>
						<li>
							<a href="https://www.lebonbon.fr/lyon/news/carte-interactive-producteurs-livraison-confinement-lyon/?fbclid=IwAR0U8SGuoDkl_0gT2U03K3ys8ghMgoo3CZyYPZEpW7ML4LCoicS3C_W34R4" rel="nofollow norefferer" target="_blank" title="Article du Bonbon sur la carte" class="btn btn-default btn-lg"><span class="network-name"><img src="../img/logo-bonbon.png" alt="Logo du Bonbon"></img></span></a>
						</li>
						<li>
							<a href="https://lyon.citycrunch.fr/ou-faire-ses-courses-a-lyon-pendant-le-confinement/2020/03/31/?fbclid=IwAR0DJ_fDE30iQQTLLmyKwwl6FXQqbw1GgrEWW_mzGE5La_XSvLFYcj6_cVM" rel="nofollow norefferer" target="_blank" title="Article de Lyon City Crunch sur la carte" class="btn btn-default btn-lg"><span class="network-name"><img src="../img/logo-lyoncitycrunch.png" alt="Logo de Lyon City Crunch"></img></span></a>
						</li>
					</ul>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-6">
					<h3>Partagez ce site :</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3">
					<ul class="list-inline banner-social-buttons">
						<li>
							<a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow norefferer" target="_blank" title="Partagez sur Facebook" class="btn btn-default btn-lg"><i class="fa fa-share"></i><i class="fa fa-facebook fa-fw"></i></a>
							<a href="https://twitter.com/intent/tweet?text={{ site.twitter_sharetext }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_bellebouffe }}&related={{ site.twitter_zerodechetlyon }}" rel="nofollow norefferer" target="_blank" title="Partagez sur Twitter" class="btn btn-default btn-lg"><i class="fa fa-share"></i><i class="fa fa-twitter fa-fw"></i></a>
							<a href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}&title={{ site.title }}&summary={{ site.description }}" rel="nofollow norefferer" target="_blank" title="Partagez sur Linkedin" class="btn btn-default btn-lg"><i class="fa fa-share"></i><i class="fa fa-linkedin fa-fw"></i></a>
						</li>
					</ul>
				</div>
			</div>


		</div>
		<!-- /.container -->

	</div>
</section>
<!-- /.banner -->