<section id="contact">
	<div class="banner">
		<div class="container">

			<div class="row">
				<div class="col-lg-6">
					<h2>Une initiative de :</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-8">
					<ul class="list-inline banner-social-buttons">
						<li>
							<a href="https://www.facebook.com/{{ site.facebook_bellebouffe }}/" rel="nofollow" target="_blank" title="BelleBouffe sur Facebook" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name"><img src="../img/logo-bellebouffe.png"></img></span></a>
							<a href="https://www.facebook.com/{{ site.facebook_zerodechetlyon }}" rel="nofollow" target="_blank" title="Zéro Déchet sur Facebook" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name"><img src="../img/logo-zerodechet.png"></img></span></a>
						</li>
					</ul>
				</div>
			</div>


			<div class="row">
				<div class="col-lg-6">
					<h3>Partagez ce site :</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-8">
					<ul class="list-inline banner-social-buttons">
						<li>
							<a href="https://facebook.com/sharer.php?u=https://www.google.com" rel="nofollow" target="_blank" title="Partagez sur Facebook" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Sur Facebook</span></a>
							<a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_bellebouffe }}" rel="nofollow" target="_blank" title="Partagez sur Twitter" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Sur Twitter</span></a>
						</li>
					</ul>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
</section>
<!-- /.banner -->