<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
           <div class="col-md-8">
               <ul class="list-inline">
                    <li>
                        <a href="mailto:bonjour@bellebouffe.com">Ecrire à Bellebouffe</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="mailto:plaidoyer@zerodechetlyon.org">Ecrire à Zero Déchet Lyon</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">Site sous <a href="https://creativecommons.org/licenses/by-nc/4.0/">licence CC BY-NC</a> ; Propulsé par <a href="https://www.bellebouffe.com">BelleBouffe</a> / <a href="https://zerodechetlyon.org/">Zéro Déchet Lyon.</a></p>
            </div>
            <div class="col-md-4">
                {{ site.credits }}
            </div>
        </div>
    </div>
</footer>
