  <div class="marginform formbuttons">

        <a href="https://bit.ly/cartecovid19_ajouter_achatssurplace" rel="nofollow norefferer" target="_blank" title="Référencer une structure avec achat sur place" alt="Boutton pour référencer une structure avec achat sur place" class="btn btn-default btn-lg marginbutton">👉 Achat sur place</i></a>

        <a href="https://bit.ly/cartecovid19_ajouter_retirersurplace" rel="nofollow norefferer" target="_blank" title="Référencer une structure avec commande en ligne et retrait sur place" alt="Boutton pour référencer une structure avec commande en ligne et retrait sur place" class="btn btn-default marginbutton btn-lg ">👉 Retrait sur place</i></a>
 
        <a href="https://bit.ly/cartecovid19_ajouter_livraisonpointrelais" rel="nofollow norefferer" target="_blank" title="Référencer une structure avec commande en ligne et livraison en point relais" alt="Boutton pour référencer une structure avec commande en ligne et livraison en point relais" class="btn marginbutton btn-default btn-lg ">👉 Livraison en point relais</i></a>

        <a href="https://bit.ly/cartecovid19_ajouter_livraisonadomicile" rel="nofollow norefferer" target="_blank" title="Référencer une structure qui live à domicile" alt="Boutton pour référencer une structure qui live à domicile" class="btn btn-default btn-lg marginbutton">👉 Livraison à domicile</i></a>
</div>