<!-- Navigation -->
<section id="home">
    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
	<div class="container-fluid">
			<a class="navbar-brand navbar-toggler justify-content-center" href="{{ site.url }}" type="button">
				<p> <i class="fas fa-chevron-left"> Retour à l'accueil</i></p>
				</a>			
			<a class="navbar-brand page-scroll d-none d-lg-block" href="{{ site.url }}">
				<img src="../assets/img/fav/favicon-32x32.png" class="logo" alt="Retour à l'accueil - {{ site.title }}">Retour à l'accueil</img>
			</a>
    <!-- /.container -->
</nav>
</section>