<!-- Navigation -->
<section>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
        	<a id="navbartext" class="navbar-brand page-scroll" href="{{ site.url }}"><img src="../img/fav/favicon-32x32.png" class="logo" alt="{{ site.title }}">Retour à l'accueil</img></a>
        </div>
    </div>
    <!-- /.container -->
</nav>
</section>