<!-- Hero Section -->
    <section id="consommateurs" class="container content-section text-center">
        <div class="row">
            <div class="col">
              <br/><br/>
              <h1>Manger de la bonne bouffe à Lyon ?</h1>
              <br/>
                <p>Malgré les confinements et déconfinements, l'objectif de la carte participative lancée par BelleBoufe et ZéroDéchet Lyon reste le même : recenser les producteurs, distributeurs et restaurateurs qui proposent de la bonne bouffe locale à Lyon et environs en cette période difficile de contraintes sanitaires.</p>
				<div class="row">
						<div class="mx-auto">
							<a href="/bilan" rel="nofollow norefferer" target="_blank" title="Notre infographie bilan du 1er confinement" class="btn btn-primary"><i class="fa fa-pencil"></i> Infographie : en savoir plus sur la carte</a>
						</div>
					</div>
					</br>
				<p></p> 
				<p>Nous avons besoin de vous, contribuez et aidez nous à tenir les informations de la carte à jour pour supporter vos producteurs ! </br>Vous avez trouvé une information qui n'est pas à jour ?</br> <a href="mailto:{{ site.email }}?subject=&cc={{ site.email_zerodechetlyon }}" rel="nofollow norefferer" target="_blank" title="Écrire à BelleBouffe et Zéro Déchet Lyon">Ecrivez-nous !</a> ou contribuez en complétant l'un des formulaire parmi la liste ci-dessous.</p>
                <br/>
            </div>
		</div>

    </section>
	

