<!-- Hero Section -->
    <section id="consommateurs" class="container content-section text-center">
        <div class="row">
            <div class="col">
              <br/><br/>
              <h1>Le confinement ? C’est reparti !</h1>
              <br/>
                <p>Suite aux annonces du 28/10/2020 par le gouvernement français d'un nouveau confinement, BelleBouffe et Zéro Déchet Lyon ont décidé de relancer cette carte qui vous a servi durant le confinement du printemps dernier.</p>
				<div class="row">
						<div class="mx-auto">
							<a href="/bilan" rel="nofollow norefferer" target="_blank" title="Notre infographie bilan du 1er confinement" class="btn btn-primary"><i class="fa fa-pencil"></i> Découvrez notre infographie bilan du 1er confinement !</a>
						</div>
					</div>
					</br>
				<p>Notre objectif reste le même : recenser les producteurs, distributeurs et (c'est nouveau pour cette V2) les restaurateurs qui proposent de la bonne bouffe locale à Lyon et environs pendant le confinement. Ils sont nombreux à rester ouverts et à avoir besoin de notre soutien pour conserver leurs activités. Nous allons faire de notre mieux pour tenir ces informations à jour et vous permettre de supporter vos producteurs !</p> 
				<p>Vous avez trouvé une information qui n'est pas à jour ? Vous ne trouvez pas votre producteur, restaurateur préféré ?</br> Nous faisons au mieux pour actualiser notre base, n'hésitez pas à nous <a href="mailto:{{ site.email }}?subject=&cc={{ site.email_zerodechetlyon }}" rel="nofollow norefferer" target="_blank" title="Écrire à BelleBouffe et Zéro Déchet Lyon">écrire</a> ou à contribuer en complétant le formulaire adéquat parmi la liste ci-dessous.</p>
                <br/>
            </div>
		</div>

    </section>
	

