<!-- Hero Section -->
    <section id="consommateurs" class="container content-section text-center">
        <div class="row">
            <div class="col">
              <br/><br/>
              <h1>Le confinement ? C’est fini !</h1>
              <br/>
                <p>Il y a toujours autant de bonne bouffe locale près de chez vous pour se régaler au quotidien !</br>
				<p>BelleBouffe et Zéro Déchet Lyon vous laissent à disposition la carte référençant les maraichers, épiceries, producteurs autour de Lyon et ses alentours  restés ouverts pendant le confinement. Nous faisons de notre mieux pour tenir ces informations à jour mais il est possible que certains éléments ne le soient plus car notre énergie est mobilisée pour créer une nouvelle version de cette carte pour qu'elle vous soit toujours utile.</p>
                <br/>
              </div>
        </div>
    </section>
	

