<section id="mentions" class="container content-section text-left">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <br/><br/>
              <h1>Mentions légales</h1>
              <br/>
<p>Le site wwww.cartecovid19.bellebouffe est sous licence Creative Commons Attribution-NonCommercial 4.0 International License.</br>
</br>
Il est édité par les associations <a href="http://bellebouffe.com" title="lien du site BelleBouffe" alt="lien du site bellebouffe">BelleBouffe</a> et <a href="http://zerodechetlyon.org" title="lien du site Zéro Déchet Lyon" alt="lien du site Zéro Déchet Lyon">Zéro Déchet Lyon</a> :</br>
</br>
Présidente de BelleBouffe: Marie-Amandine Vermillon,</br>
</br>
Contact de BelleBouffe :</br>
BelleBouffe</br>
10 Rue Saint Polycarpe</br>
69001 Lyon</br>
bonjour@bellebouffe.com</br>
</br>
<p>Contact de Zéro Déchet Lyon :</br>
31 Quai Hippolyte Jaÿr, 69009 Lyon</br>
69009 Lyon</br>
plaidoyer@zerodechetlyon.org</br></p> 
</br>
Conception et réalisation du site : <a href="http://gouy-antoine.com" title="lien vers le site d'Antoine Gouy" alt="Lien vers le site d'Antoine Gouy">Multipotentialité.es</a>, Antoine Gouy</br>
Hébergement : Github Page</br><p>
<h2>Droits d’auteurs et copyright :</h2>
<a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/80x15.png" /></a><br />Ce site est sous licence <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License</a>.

<h2>Conditions générales d’utilisation</h2>
<p>L’utilisateur reconnaît avoir pris connaissance des présentes conditions générales d’utilisation et s’engage à les respecter.
BelleBouffe se réserve le droit de modifier et de mettre à jour, sans préavis, les présentes mentions légales et tous les éléments présentés sur le site. L’ensemble de ces modifications s’impose aux internautes qui doivent consulter les conditions générales d’utilisation lors de chaque connexion.</p>

<h2>Informatique et libertés</h2>
<p>Conformément à l’article 34 de la loi n°78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, vous disposez d’un droit d’accès aux informations vous concernant. Vous pouvez également modifier ou supprimer ces informations en vous adressant à BelleBouffe et Zéro Déchet Lyon:</br>
</br>
BelleBouffe</br>
10 Rue Saint Polycarpe</br>
69001 Lyon</br>
bonjour@bellebouffe.com</br></p>
</br>
<p>Zéro Déchet Lyon :</br>
31 Quai Hippolyte Jaÿr, 69009 Lyon</br>
69009 Lyon</br>
plaidoyer@zerodechetlyon.org</br></p> 

<h2>Liens hypertextes :</h2>
<p>Les liens hypertextes présents sur ce site peuvent orienter le visiteur sur des sites extérieurs dont le contenu ne peut en aucune manière engager la responsabilité de BelleBouffe. </br>La mise en place d’un lien hypertexte vers le site www.cartecovid19.bellebouffe.com est autorisée.</p>

<h2>Loi applicable</h2>
<p>Le contenu du site est assujetti au droit applicable en France. Tout utilisateur reconnaît la compétence du tribunal de Commerce de Lyon français pour tout ce qui concerne le contenu et l’utilisation du site ou les recours en découlant.
</br>Pour toutes suggestions, informations, réactions concernant ce site, <a href="mailto:{{ site.email }}" rel="nofollow norefferer" target="_blank" title="Contactez-nous">contactez-nous</a>
                </br>
              </div>
        </div>
    </section>
